<section id="contact" class="container" [class.component-dark-theme]="customizerSettingsService.isDark()">
  <div class="row">
    <div class="contact-info col-12 col-md-6">
      <h3>Informações de Contato</h3>
      <p>Endereço: Rua António José Rogick, 257</p>
      <p>Bairro: Vila Trujillo</p>
      <p>Cidade: Sorocaba - SP </p>
      <p>CEP: 18060-290</p>
      <p>Telefone: (15) 9 8167-9823</p>
      <p>Email: quanticsorocaba&#64;gmail.com</p>
      <div class="social">
        <button class="facebook" mat-button type="button">
          <i class="ri-facebook-fill"></i>
        </button>
        <button class="linkedin" mat-button type="button">
          <i class="ri-linkedin-fill"></i>
        </button>
        <button class="instagram" mat-button type="button">
          <i class="ri-instagram-fill"></i>
        </button>
        <button class="youtube" mat-button type="button">
          <i class="ri-youtube-fill"></i>
        </button>
        <button class="whatsapp" mat-button type="button">
          <i class="ri-whatsapp-fill"></i>
        </button>
        <button class="tiktok" mat-button type="button">
          <i class="ri-tiktok-fill"></i>
        </button>
      </div>
    </div>
    <div class="col-12 col-md-6 text-center">
      <h3>Localização</h3>
      <iframe
        class="responsive-map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.0380315745474!2d-47.46824900000001!3d-23.495139599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c58ab03b067b0d%3A0x3ddf188724cb8dcd!2sQuantic%20Inform%C3%A1tica%20e%20Tecnologia!5e0!3m2!1spt-BR!2sbr!4v1724031973773!5m2!1spt-BR!2sbr"
        height="300"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>

  <div class="rs-video whatsapp-fixed">
    <div class="animate-border">
      <a alt="Whatsapp" class="video-vemo-icon btn-whatsapp"
         aria-label="WhatsApp"
         href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=5515981679823"
         target="_blank"
         rel="noopener noreferrer"
         onclick="gtag_report_conversion(undefined)">
        <img [src]="logoSrc" alt="WhatsApp" width="200px">
        <div class="sm-red-dot"></div>
        <div id="quick-message" class="quick-message line-up">
          <p>
            Comece o contato por WhatsApp
          </p>
          <div class="seta-direita">
          </div>
        </div>
      </a>
    </div>
    <div id="hover-message" class="quick-message">
      <p>
        Comece o contato por WhatsApp
      </p>
      <div class="seta-direita">
      </div>
    </div>
  </div>
</section>

<footer>
  <section id="developer">
    <div class="container text-center">
      <mat-icon>code</mat-icon>
      <p>
        <span class="text-black"> Desenvolvido por </span> <a href="https://codesdevs.com.br" target="_blank">Codes Devs</a>
        &copy; 2024 Quantic 3D. Todos os direitos reservados.
      </p>
    </div>
  </section>
</footer>
