<div class="form-field w-100" [class]="inputQuestion.inputClass">
  <div class="form-group">
    @if(inputQuestion.label){
      <label class="main-label d-block lh-1 text-black" [for]="inputQuestion.key">
        {{inputQuestion.label}}
    </label>
    }
    <mat-form-field
      class="mat-form"
      [class.end]="inputQuestion.endIcon"
      [class.start]="inputQuestion.startIcon"
    >
      @if(inputQuestion.placeholder){
        <mat-label>
          {{ inputQuestion.placeholder }}
        </mat-label>
      }
      @if(inputQuestion.startIcon) {
        <div
          class="icon-start"
          [matTooltip]="inputQuestion.startIcon.tooltip || ''"
          [style.color]="inputQuestion.startIcon.color"
        >
          <i class="material-symbols-outlined">
            {{inputQuestion.startIcon.icon}}
          </i>
        </div>
      }
      <input
        type="text"
        matInput
        [id]="inputQuestion.key"
        [formControl]="formControl"
        [matAutocomplete]="auto"
        [errorStateMatcher]="matcher"
      >
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        [class.error]="formControl.errors && (formControl.touched || formControl.dirty)"
      >
        @for (option of options | async; track option.value) {
          <mat-option [value]="option">{{option.name}}</mat-option>
        }
      </mat-autocomplete>
      @if(inputQuestion.endIcon) {
        <div
          class="icon-end"
          [matTooltip]="inputQuestion.endIcon.tooltip || ''"
          [style.color]="inputQuestion.endIcon.color"
        >
          <i class="material-symbols-outlined">
            {{inputQuestion.endIcon.icon}}
          </i>
        </div>
      }
    </mat-form-field>
    <div class="error-wrapper">
      @if (formControl.errors && (formControl.touched || formControl.dirty)) {
        <mat-error>
          {{ formControl.errors | formError}}
        </mat-error>
      }
    </div>
  </div>
</div>
