<div class="forgot-password-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div
        class="default-form ml-auto mr-auto border-radius bg-white"
      >
        <div class="title text-center">
          <h3>
            Esqueceu sua senha?
          </h3>
          <p class="ml-auto mr-auto">
            Insira o email que você usava quando se cadastrou e enviaremos instruções para redefinir sua senha.
          </p>
        </div>
            <div class="row">
              <app-basic-input
                [control]="this.forgotPassForm.controls.email"
                [question]="emailQuestion"
              ></app-basic-input>
            </div>
            <button
              (click)="onSubmit()"
              (keydown.enter)="onSubmit()"
              [disabled]="forgotPassForm.invalid || isLoading()"
              class="btn"
              mat-button
            >
              @if(isLoading()) {
                <div class="loader-wrapper">
                  <div class="loader-spinner"></div>
                </div>
              } @else {
                Enviar
              }
            </button>
            <div class="text-center back-to-sign-in">
              <a mat-button routerLink="/authentication">
                Voltar para entrar
              </a>
            </div>
      </div>
    </div>
  </div>
</div>
