<!-- Products Grid -->
<section
  class="container"
  [class.component-dark-theme]="themeService.isDark()"
  [class.rtl-enabled]="themeService.isRTLEnabled()"
>

  <!-- Products -->
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
        <mat-card-content>
          <div class="image position-relative border-radius">
            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
              <img src="images/products/exemplo.jpeg" class="border-radius transition" alt="product-image">
            </a>
            <button mat-fab>
              <i class="ri-heart-line"></i>
            </button>
          </div>
          <div class="content">
            <h5>
              <a routerLink="/ecommerce-page/product-details">
                Luxury Rendering
              </a>
            </h5>
            <div class="price d-flex align-items-center justify-content-center lh-1">
                              <span class="text-black fw-medium d-block">
                                  R$ 150.00
                              </span>
              <span class="text-body d-block">
                                  R$ 180.00
                              </span>
            </div>
            <button mat-button>
              Ver Detalhes
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6 col-lg-4">
      <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
        <mat-card-content>
          <div class="image position-relative border-radius">
            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
              <img src="images/products/product2.jpg" class="border-radius transition" alt="product-image">
            </a>
            <button mat-fab>
              <i class="ri-heart-line"></i>
            </button>
          </div>
          <div class="content">
            <h5>
              <a routerLink="/ecommerce-page/product-details">
                Mobile Device
              </a>
            </h5>
            <div class="price d-flex align-items-center justify-content-center lh-1">
                              <span class="text-black fw-medium d-block">
                                  R$ 750.00
                              </span>
              <span class="text-body d-block">
                                  R$ 780.00
                              </span>
            </div>
            <button mat-button>
              Ver Detalhes
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6 col-lg-4">
      <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
        <mat-card-content>
          <div class="image position-relative border-radius">
            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
              <img src="images/products/product3.jpg" class="border-radius transition" alt="product-image">
            </a>
            <button mat-fab>
              <i class="ri-heart-line"></i>
            </button>
          </div>
          <div class="content">
            <h5>
              <a routerLink="/ecommerce-page/product-details">
                Gaming Laptop
              </a>
            </h5>
            <div class="price d-flex align-items-center justify-content-center lh-1">
                              <span class="text-black fw-medium d-block">
                                  R$ 25.00
                              </span>
              <span class="text-body d-block">
                                  R$ 300.00
                              </span>
            </div>
            <button mat-button>
              Ver Detalhes
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6 col-lg-4">
      <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
        <mat-card-content>
          <div class="image position-relative border-radius">
            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
              <img src="images/products/product4.jpg" class="border-radius transition" alt="product-image">
            </a>
            <button mat-fab>
              <i class="ri-heart-line"></i>
            </button>
          </div>
          <div class="content">
            <h5>
              <a routerLink="/ecommerce-page/product-details">
                Wireless Headphone
              </a>
            </h5>
            <div class="price d-flex align-items-center justify-content-center lh-1">
                              <span class="text-black fw-medium d-block">
                                  R$ 80.00
                              </span>
              <span class="text-body d-block">
                                  R$ 100.00
                              </span>
            </div>
            <button mat-button>
              Ver Detalhes
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6 col-lg-4">
      <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
        <mat-card-content>
          <div class="image position-relative border-radius">
            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
              <img src="images/products/product5.jpg" class="border-radius transition" alt="product-image">
            </a>
            <button mat-fab>
              <i class="ri-heart-line"></i>
            </button>
          </div>
          <div class="content">
            <h5>
              <a routerLink="/ecommerce-page/product-details">
                Hand Watch
              </a>
            </h5>
            <div class="price d-flex align-items-center justify-content-center lh-1">
                              <span class="text-black fw-medium d-block">
                                  R$ 120.00
                              </span>
              <span class="text-body d-block">
                                  R$ 130.00
                              </span>
            </div>
            <button mat-button>
              Ver Detalhes
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6 col-lg-4">
      <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
        <mat-card-content>
          <div class="image position-relative border-radius">
            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
              <img src="images/products/product6.jpg" class="border-radius transition" alt="product-image">
            </a>
            <button mat-fab>
              <i class="ri-heart-line"></i>
            </button>
          </div>
          <div class="content">
            <h5>
              <a routerLink="/ecommerce-page/product-details">
                Futuristic Bracelet
              </a>
            </h5>
            <div class="price d-flex align-items-center justify-content-center lh-1">
                              <span class="text-black fw-medium d-block">
                                  R$ 15.00
                              </span>
              <span class="text-body d-block">
                                  R$ 19.00
                              </span>
            </div>
            <button mat-button>
              Ver Detalhes
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6 col-lg-4">
      <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
        <mat-card-content>
          <div class="image position-relative border-radius">
            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
              <img src="images/products/product7.jpg" class="border-radius transition" alt="product-image">
            </a>
            <button mat-fab>
              <i class="ri-heart-line"></i>
            </button>
          </div>
          <div class="content">
            <h5>
              <a routerLink="/ecommerce-page/product-details">
                Triblend T-shirt
              </a>
            </h5>
            <div class="price d-flex align-items-center justify-content-center lh-1">
                              <span class="text-black fw-medium d-block">
                                  R$ 45.00
                              </span>
              <span class="text-body d-block">
                                  R$ 75.00
                              </span>
            </div>
            <button mat-button>
              Ver Detalhes
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6 col-lg-4">
      <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
        <mat-card-content>
          <div class="image position-relative border-radius">
            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
              <img src="images/products/product8.jpg" class="border-radius transition" alt="product-image">
            </a>
            <button mat-fab>
              <i class="ri-heart-line"></i>
            </button>
          </div>
          <div class="content">
            <h5>
              <a routerLink="/ecommerce-page/product-details">
                Sports Shoes
              </a>
            </h5>
            <div class="price d-flex align-items-center justify-content-center lh-1">
                              <span class="text-black fw-medium d-block">
                                  R$ 55.00
                              </span>
              <span class="text-body d-block">
                                  R$ 70.00
                              </span>
            </div>
            <button mat-button>
              Ver Detalhes
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6 col-lg-4">
      <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
        <mat-card-content>
          <div class="image position-relative border-radius">
            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
              <img src="images/products/product9.jpg" class="border-radius transition" alt="product-image">
            </a>
            <button mat-fab>
              <i class="ri-heart-line"></i>
            </button>
          </div>
          <div class="content">
            <h5>
              <a routerLink="/ecommerce-page/product-details">
                Woman Handbag
              </a>
            </h5>
            <div class="price d-flex align-items-center justify-content-center lh-1">
                              <span class="text-black fw-medium d-block">
                                  R$ 75.00
                              </span>
              <span class="text-body d-block">
                                  R$ 90.00
                              </span>
            </div>
            <button mat-button>
              Ver Detalhes
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
