<!-- Products Grid -->
<section
  class="container"
  [class.component-dark-theme]="themeService.isDark()"
  [class.rtl-enabled]="themeService.isRTLEnabled()"
>
  <!-- Products -->
  <div class="row">
    <div class="col-sm-6 col-lg-4" *ngFor="let product of products">
      <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
        <mat-card-content>
          <div class="image position-relative border-radius">
            <a [routerLink]="product.link" class="d-block border-radius">
              <img [src]="product.image" class="border-radius transition" alt="product-image">
            </a>
            <button mat-fab>
              <i class="ri-heart-line"></i>
            </button>
          </div>
          <div class="content">
            <h5>
              <a [routerLink]="product.link">
                {{ product.name }}
              </a>
            </h5>
            <button mat-button>
              Ver Detalhes
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
