<div class="form-field w-100" [class]="inputQuestion.inputClass">
  <div class="form-group">
    @if(inputQuestion.label){
      <label class="main-label d-block lh-1 text-black" [for]="inputQuestion.key">
        {{inputQuestion.label}}
      </label>
    }
    <div
      class="radio-group"
    >
      <mat-radio-group
        [id]="inputQuestion.key"
        [formControl]="formControl"
        [matTooltip]="inputQuestion.inputTooltip || ''"
        [class.error]="formControl.errors && (formControl.touched || formControl.dirty)"
        [class]="inputQuestion.alignType ? 'radio-' + inputQuestion.alignType : 'radio-row'"
        class="radio"
      >
        @for (option of inputQuestion.options | async; track $index) {
          <mat-radio-button [value]="option.value" [style.color]="'black'">{{option.name}}</mat-radio-button>
        }
      </mat-radio-group>
    </div>
    <div class="error-wrapper">
      @if (formControl.errors && (formControl.touched || formControl.dirty)) {
        <mat-error>
          {{ formControl.errors | formError}}
        </mat-error>
      }
    </div>
  </div>
</div>
