<div class="reset-password-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div
        class="default-form ml-auto mr-auto border-radius bg-white"
      >
        <div class="title text-center">
          <h3>
            Reset Password?
          </h3>
          <p class="ml-auto mr-auto">
            Enter your new password and confirm it another time in the field below.
          </p>
        </div>
          <div class="row">
            <app-password-input
              [control]="this.form.controls.password"
              [question]="passwordQuestion"
            ></app-password-input>
            <app-password-input
              [control]="this.form.controls.password_confirmation"
              [question]="passwordConfirmationQuestion"
            ></app-password-input>
            <div class="error-wrapper">
              @if (isPassNotMatch()) {
                <mat-error>As senhas não são iguais</mat-error>
              }
            </div>
            <div class="col-12">
              <button
                (click)="onSubmit()"
                (keydown.enter)="onSubmit()"
                [disabled]="form.invalid || isLoading()"
                class="btn"
                mat-button
              >
                @if(isLoading()) {
                  <div class="loader-wrapper">
                    <div class="loader-spinner"></div>
                  </div>
                } @else {
                  Enviar
                }
              </button>
            </div>
          </div>
          <div class="text-center back-to-sign-in">
              <a mat-button routerLink="/authentication">
                  <i class="ri-arrow-left-s-line"></i>
                  Back to Sign In
              </a>
          </div>
      </div>
    </div>
  </div>
</div>
