<section id="home" [class.component-dark-theme]="customizerSettingsService.isDark()" [class.hide-sidebar]="customizerSettingsService.isHideSidebar()">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="text d-flex  align-items-center">
          <div>
            <h3 class="mb-0">Bem vindo a</h3>
            <h1 class="title">QUANTIC 3D</h1>
            <p class="title-impact">Imprimindo sonhos!</p>
            <p class="mb-10">Ajudamos desde a prototipagem até a impressão do seu projeto.</p>
          </div>
        </div>
      </div>
      <div class="display_home col-12 col-md-6">
        <video autoplay muted loop>
          <source src="home.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</section>
<app-services />
<app-product />
