.about-container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.image-container {
  position: sticky;
  top: 20px;
  flex: 0 0 540px;
  margin-right: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-container {
  flex: 1;
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}
