<section class="about-container container">
  <div class="row">
    <div class="col-12 col-md-6 image-container">
      <img src="images/company.png" alt="Company Photo">
    </div>
    <div class="col-12 col-md-6 text-container">
      <h2>Sobre a Quantic</h2>
      <p>
        A Quantic está no mercado há quase 2 anos, atendendo empresas e pessoas do meio geek com action figures em impressão 3D. Nossa missão é trazer os personagens favoritos dos nossos clientes à vida com alta qualidade e precisão.
      </p>
      <p>
        Desde a nossa fundação, temos nos dedicado a oferecer produtos inovadores e de alta qualidade. Utilizamos tecnologia de ponta em impressão 3D para garantir que cada detalhe dos nossos action figures seja perfeito. Nossa equipe é composta por profissionais apaixonados e altamente qualificados, que trabalham incansavelmente para superar as expectativas dos nossos clientes.
      </p>
      <p>
        Atendemos tanto empresas quanto consumidores individuais, oferecendo uma ampla gama de produtos personalizados. Seja para colecionadores, entusiastas ou empresas que desejam criar brindes exclusivos, a Quantic é a escolha certa. Nosso compromisso com a excelência e a satisfação do cliente é o que nos diferencia no mercado.
      </p>
      <p>
        Além de action figures, também oferecemos serviços de prototipagem e design personalizado. Trabalhamos em estreita colaboração com nossos clientes para transformar suas ideias em realidade, garantindo um produto final que atenda exatamente às suas necessidades e expectativas.
      </p>
      <p>
        Na Quantic, acreditamos que a inovação e a criatividade são fundamentais para o sucesso. Continuamos a investir em novas tecnologias e a expandir nossas capacidades para oferecer produtos ainda melhores no futuro. Estamos empolgados com o que está por vir e ansiosos para continuar a servir nossos clientes com a mesma dedicação e paixão que nos trouxe até aqui.
      </p>
    </div>
  </div>
</section>
