<div class="sign-in-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div
        [class.component-dark-theme]="themeService.isDark()"
        class="default-form ml-auto mr-auto border-radius bg-white"
      >
        <div class="title text-center">
            <h3>
                Entrar
            </h3>
            <p class="text-black">
              Não tem uma conta ainda? <a class="text-default" routerLink="/authentication/sign-up">Cadastrar</a>
            </p>
        </div>
        <form [formGroup]="authForm">
          <div class="row">
            <app-basic-input
              [control]="this.authForm.controls.email"
              [question]="emailQuestion"
            ></app-basic-input>
            <app-password-input
              [control]="this.authForm.controls.password"
              [question]="passwordQuestion"
            ></app-password-input>
            <div class="info d-flex justify-content-between align-items-center">
              <app-checkbox-input
                [control]="this.authForm.controls.rememberMe"
                [question]="rememberMeQuestion"
              ></app-checkbox-input>
              <a class="d-inline-block text-default" routerLink="/authentication/forgot-password">
                Esqueceu a senha?
              </a>
            </div>
            <div class="col-12">
              <button
                (click)="onSubmit()"
                (keydown.enter)="onSubmit()"
                [disabled]="authForm.invalid || isLoading()"
                class="btn"
                mat-button
              >
                @if(isLoading()) {
                  <div class="loader-wrapper">
                    <div class="loader-spinner"></div>
                  </div>
                } @else {
                  Entrar
                }
              </button>
            </div>
            <div class="signin-with-socials text-center">
              <div class="or position-relative">
                <span class="d-inline-block">
                  ou entre com
                </span>
              </div>
              <div class="socials">
                <button class="facebook" mat-button type="button">
                  <i class="ri-facebook-fill"></i>
                </button>
                <button class="twitter" mat-button type="button">
                  <i class="ri-twitter-x-fill"></i>
                </button>
                <button class="google" mat-button type="button">
                  <i class="ri-google-fill"></i>
                </button>
                <button class="linkedin" mat-button type="button">
                  <i class="ri-linkedin-fill"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
